.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 210 198);
  --md-sys-color-surface-tint: rgb(255 181 160);
  --md-sys-color-on-primary: rgb(72 21 6);
  --md-sys-color-primary-container: rgb(203 124 101);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(254 211 199);
  --md-sys-color-on-secondary: rgb(56 31 24);
  --md-sys-color-secondary-container: rgb(174 136 126);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(239 219 161);
  --md-sys-color-on-tertiary: rgb(47 37 0);
  --md-sys-color-tertiary-container: rgb(160 144 92);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 17 15);
  --md-sys-color-on-background: rgb(241 223 218);
  --md-sys-color-surface: rgb(26 17 15);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(83 67 63);
  --md-sys-color-on-surface-variant: rgb(238 215 209);
  --md-sys-color-outline: rgb(194 173 168);
  --md-sys-color-outline-variant: rgb(160 140 135);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(241 223 218);
  --md-sys-color-inverse-on-surface: rgb(50 40 37);
  --md-sys-color-inverse-primary: rgb(116 54 36);
  --md-sys-color-primary-fixed: rgb(255 219 209);
  --md-sys-color-on-primary-fixed: rgb(40 5 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 160);
  --md-sys-color-on-primary-fixed-variant: rgb(93 37 20);
  --md-sys-color-secondary-fixed: rgb(255 219 209);
  --md-sys-color-on-secondary-fixed: rgb(32 11 6);
  --md-sys-color-secondary-fixed-dim: rgb(231 189 178);
  --md-sys-color-on-secondary-fixed-variant: rgb(75 47 40);
  --md-sys-color-tertiary-fixed: rgb(245 225 167);
  --md-sys-color-on-tertiary-fixed: rgb(23 17 0);
  --md-sys-color-tertiary-fixed-dim: rgb(216 197 141);
  --md-sys-color-on-tertiary-fixed-variant: rgb(65 53 10);
  --md-sys-color-surface-dim: rgb(26 17 15);
  --md-sys-color-surface-bright: rgb(78 66 63);
  --md-sys-color-surface-container-lowest: rgb(13 6 4);
  --md-sys-color-surface-container-low: rgb(37 27 25);
  --md-sys-color-surface-container: rgb(48 38 35);
  --md-sys-color-surface-container-high: rgb(59 48 45);
  --md-sys-color-surface-container-highest: rgb(70 59 56);
  --md-extended-color-custom-color1-color: rgb(153 236 217);
  --md-extended-color-custom-color1-on-color: rgb(0 44 37);
  --md-extended-color-custom-color1-color-container: rgb(76 158 142);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
}
