.dark-high-contrast {
  --md-sys-color-primary: rgb(255 236 231);
  --md-sys-color-surface-tint: rgb(255 181 160);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 175 152);
  --md-sys-color-on-primary-container: rgb(30 3 0);
  --md-sys-color-secondary: rgb(255 236 231);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(227 185 174);
  --md-sys-color-on-secondary-container: rgb(25 6 3);
  --md-sys-color-tertiary: rgb(255 239 196);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(212 194 137);
  --md-sys-color-on-tertiary-container: rgb(16 11 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(26 17 15);
  --md-sys-color-on-background: rgb(241 223 218);
  --md-sys-color-surface: rgb(26 17 15);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(83 67 63);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 236 231);
  --md-sys-color-outline-variant: rgb(212 190 184);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(241 223 218);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(116 54 36);
  --md-sys-color-primary-fixed: rgb(255 219 209);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 160);
  --md-sys-color-on-primary-fixed-variant: rgb(40 5 0);
  --md-sys-color-secondary-fixed: rgb(255 219 209);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(231 189 178);
  --md-sys-color-on-secondary-fixed-variant: rgb(32 11 6);
  --md-sys-color-tertiary-fixed: rgb(245 225 167);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(216 197 141);
  --md-sys-color-on-tertiary-fixed-variant: rgb(23 17 0);
  --md-sys-color-surface-dim: rgb(26 17 15);
  --md-sys-color-surface-bright: rgb(90 77 74);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(39 29 27);
  --md-sys-color-surface-container: rgb(57 46 43);
  --md-sys-color-surface-container-high: rgb(68 57 54);
  --md-sys-color-surface-container-highest: rgb(80 68 65);
  --md-extended-color-custom-color1-color: rgb(177 255 237);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(128 210 192);
  --md-extended-color-custom-color1-on-color-container: rgb(0 14 11);
}
